.background_img {
    display: flex;
    display: inline-block;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));;

    img {
        width: 110vw;
        height: 110vh;
        object-fit: cover;
        z-index: -1;
        position: relative;
        transform: translateY(-5%);
    }
}