.banner_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie_info {
    width: 80%;
    height: 80%;
    top: 43%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.movie_logo_and_ratings {
    grid-area: 1 / 1 / 6 / 3;

    .poster_image {
        width: 60%;
        margin-top: 10%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    .vote {
        display: flex;
        align-items: center;
        margin-top: 5%;
    
        svg {
            width: 15%;
        }

        .vote_average {
            display: flex;
            
            label {
                margin-top: 10%;
                padding: 0;
                margin-right: 10px;
            }
    
            p {
                font-size: 2rem;
            }
        }
    
       .vote_count {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0 35px;
            text-align: center;
            margin-top: 10px;
    
            p {
                margin: 0;
                font-size: 2rem;
            }
    
            .vote_label {
                margin: 0;
                padding: 0;
                margin-top: -10px;
                font-size: 0.8rem;
            }
       }
    }
}



.title {
    grid-area: 1 / 3 / 2 / 6;
    padding: 10px;
}

.text_content {
    grid-area: 2 / 3 / 6 / 6;
}

.movie_text {
    margin: 0 10%;
    color: white;
    text-align: center;
}

.genres {
    display: flex;

    .genre {
        margin: 0 5px;
    }
}

