.banner_container {
    position: relative;
}

.content {
    font-size: 1.2rem;
    text-shadow: 2px 2px #000;
    font-weight: bold;
    width: 80%;
    color: white;
    text-decoration: none;
    margin-top: -10px;
    position: absolute;
    bottom: 8%;
    left: 3%;
}