.navbar {
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: black;
    opacity: 0.9;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 10%;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px;
}

.link {
    margin: 0 5px;
    text-decoration: none;
    color: #FFDB00;
    font-weight: 600;

    &:hover {
        color: #FFA400;
    }
}

.activeLink {
    margin: 0 5px;
    color: aqua;
    text-decoration: none;
}